.club-info-card {
  width: 222px;
  position: relative;
  display: inline-block;
}
.club-info-card-div-clubcardd2 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.club-info-card1 {
  position: relative;
}
.club-info-card-div-clubcardd1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  color: #707dff;
}
.club-info-card-div-clubcardd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px;
}
.club-info-card-div-clubcardi {
  width: 260px;
  position: relative;
  border-radius: 5px;
  height: 180px;
  object-fit: cover;
}
.club-info-card2 {
  width: 233px;
  position: relative;
  display: inline-block;
}
.club-info-card3 {
  position: relative;
  font-size: 14px;
  font-family: Kanit;
  color: #d80202;
  text-align: left;
}
.club-info-card-div-clubcardd4 {
  cursor: pointer;
  border: 1.7px solid #ffadad;
  padding: 9px 56px;
  background-color: transparent;
  border-radius: 63px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.club-info-card-div-clubcardd3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  gap: 15px;
  font-size: 14px;
}
.club-info-card4 {
  width: 122px;
  position: relative;
  display: inline-block;
  height: 24px;
  flex-shrink: 0;
}
.lorem-ipsum {
  margin-bottom: 0;
}
.lorem-ipsum-lorem-ipsum-lorem {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 21px;
}
.club-info-card-container {
  width: 190px;
  position: relative;
  display: inline-block;
}
.club-info-card-component,
.club-info-card-div-clubcardd5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  gap: 10px;
  font-size: 16px;
}
.club-info-card-component {
  border-radius: 8px;
  background-color: #1a1a1b;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
  height: 666px;
  overflow: hidden;
  padding: 15px 9px;
  box-sizing: border-box;
  gap: 15px;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-family: Kanit;
}
