.side-bardiv-conatinerdiv-hea3 {
  position: relative;
  font-weight: 300;
}
.side-bardiv-conatinerdiv-hea-icon1 {
  width: 250px;
  position: relative;
  height: 2px;
  object-fit: contain;
}
.side-bardiv-conatinerdiv-hea2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.blossoms1,
.div4 {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
}
.blossoms1 {
  width: 102px;
  font-size: 24px;
  color: #8e8686;
  display: inline-block;
  flex-shrink: 0;
}
.side-bardiv-conatinerdiv-eve6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}
.annual-athletic-meet1 {
  width: 212px;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-family: Montserrat;
  color: #8e8686;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.side-bardiv-conatinerdiv-eve7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.bhasha-utsav1,
.darpan1 {
  width: 76px;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-family: Montserrat;
  color: #8e8686;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.bhasha-utsav1 {
  width: 144px;
}
.side-bardiv-conatinerdiv-eve9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.side-bardiv-conatinerdiv-eve5 {
  align-items: flex-start;
  padding: 0 0 0 4px;
  gap: 12px;
}
.side-bar-component1,
.side-bardiv-conatiner1,
.side-bardiv-conatinerdiv-eve5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side-bardiv-conatiner1 {
  align-items: center;
  gap: 29px;
}
.side-bar-component1 {
  width: 280px;
  border-radius: 10px;
  background-color: #1a1a1b;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  align-items: flex-start;
  padding: 24px 15px 50px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #707dff;
  font-family: Montserrat;
}
